<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de Colis</title>
</head>

<body>
        <!--Début navbar-->
        <nav>
            <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">OverTracking</span>
            </div>
            <div class="sidebar">
                <div class="logo">
                <i class="bx bx-menu menu-icon"></i>
                <span class="logo-name">OverTracking</span>
                </div>
    
                <div class="sidebar-content">
                <ul class="lists">
                    <li class="list">
                    <a href="dashboard.html" class="nav-link">
                        <i class="bx bx-home-alt icon"></i>
                        <span class="link">Dashboard</span>
                    </a>
                    </li>
                    <li class="list">
                    <a href="mes_colis.html" class="nav-link">
                        <i class="bx bx-clipboard icon"></i>
                        <span class="link">Commandes</span>
                        </a>
                    </li>
                    <li class="list">
                    <a href="livraisons_en_cours.html" class="nav-link">
                        <i class="bx bx-bus-school icon"></i>
                        <span class="link">Livraisons</span>
                        </a>
                    </li>
                </ul>
    
                <div class="bottom-cotent">
                    <li class="list">
                    <a href="vehicule.html" class="nav-link">
                        <i class="bx bx-car icon"></i>
                        <span class="link">Véhicules</span>
                        </a>
                    </li>
                    <li class="list">
                    <a href="#" class="nav-link">
                        <i class="bx bx-log-out icon"></i>
                        <span class="link">Déconnexion</span>
                    </a>
                    </li>
                </div>
                </div>
            </div>
            </nav>
            <!--Fin navbar-->
    
            <section class="overlay"></section>
    <h2>Création de Colis</h2>

    <!-- Instructions pour l'utilisateur -->
    <p>Veuillez remplir les informations ci-dessous pour créer un nouveau colis.</p>

    <form method="POST" action="{{ url_for('expediteur') }}">
        <label for="poids">Poids (en grammes):</label>
        <input type="text" name="poids" id="poids" required>

        <label for="hauteur">Hauteur (en centimètres):</label>
        <input type="text" name="hauteur" id="hauteur" required>

        <label for="largeur">Largeur (en centimètres):</label>
        <input type="text" name="largeur" id="largeur" required>

        <label for="longueur">Longueur (en centimètres):</label>
        <input type="text" name="longueur" id="longueur" required>

        {% if session.get('role') == 'admin' %}
            <label for="expediteur_id">Expéditeur:</label>
            <select name="expediteur_id" id="expediteur_id" required>
                {% for expediteur in expediteurs %}
                    <option value="{{ expediteur.id }}">{{ expediteur.nom }}</option>
                {% endfor %}
            </select>
        {% else %}
            <!-- Ajout d'un champ caché pour l'expéditeur lorsqu'il s'agit d'un transporteur -->
            <input type="hidden" name="expediteur_id" value="{{ session.get('id') }}">
        {% endif %}

        <label for="transporteur_id">Transporteur:</label>
        <select name="transporteur_id" id="transporteur_id" required>
            {% for transporteur in transporteurs %}
                <option value="{{ transporteur.id }}">{{ transporteur.nom }}</option>
            {% endfor %}
        </select>

        <label for="destinataire_id">Destinataire:</label>
        <select name="destinataire_id" id="destinataire_id" required>
            {% for destinataire in destinataires %}
                <option value="{{ destinataire.id }}">{{ destinataire.nom }}</option>
            {% endfor %}
        </select>

        <button type="submit">Créer Colis</button>
    </form>
    <script src="../static/js/script.js"></script>  
</body>

</html>
