<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>| OverTrack |</title>
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="../static/css/style_index.css">
</head>
<body>
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">OverTracking</span>
        </div>
        <div class="sidebar">
            <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">OverTracking</span>
            </div>

            <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                <a href="dashboard.html" class="nav-link">
                    <i class="bx bx-home-alt icon"></i>
                    <span class="link">Dashboard</span>
                </a>
                </li>
                <li class="list">
                <a href="mes_colis.html" class="nav-link">
                    <i class="bx bx-clipboard icon"></i>
                    <span class="link">Commandes</span>
                </a>
                </li>
                <li class="list">
                <a href="livraisons_en_cours.html" class="nav-link">
                    <i class="bx bx-bus-school icon"></i>
                    <span class="link">Livraisons</span>
                </a>
                </li>
            </ul>

            <div class="bottom-cotent">
                <li class="list">
                <a href="vehicule.html" class="nav-link">
                    <i class="bx bx-car icon"></i>
                    <span class="link">Véhicules</span>
                </a>
                </li>
                <li class="list">
                <a href="#" class="nav-link">
                    <i class="bx bx-log-out icon"></i>
                    <span class="link">Déconnexion</span>
                </a>
                </li>
            </div>
            </div>
        </div>
        </nav>
    <section class="overlay"></section>

    <section class="main-content">
        <h1>Bienvenue chez UPS</h1>
        <p>Expédition rapide et fiable à travers le monde.</p>
        <a href="#" class="btn">En savoir plus</a>
    </section>
    <footer>
        <p>&copy; 2023 Votre Société. Tous droits réservés.</p>
    </footer>
    <script src="static/js/script.js"></script>
</body>
</html>