<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>| OverTrack | Livraison </title>
   <link rel="icon" href="/static/img/OverTracking.png">
    <link rel="stylesheet" href="../static/css/style_index.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
</head>
<body>
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">OverTracking</span>
        </div>
        <div class="sidebar">
            <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">OverTracking</span>
            </div>

            <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                <a href="{{ url_for('index') }}" class="nav-link">
                    <i class="bx bx-home-alt icon"></i>
                    <span class="link">Menu Principal</span>
                </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('dashboard') }}" class="nav-link">
                        <i class="bx bx-user icon"></i>
                        <span class="link">Mon compte</span>
                    </a>
                    </li>
                <li class="list">
                <a href="{{ url_for('expediteur') }}" class="nav-link">
                    <i class="bx bx-clipboard icon"></i>
                    <span class="link">Expédier</span>
                </a>
                </li>
                <li class="list">
                <a href="{{ url_for('mes_colis') }}" class="nav-link">
                    <i class="bx bx-clipboard icon"></i>
                    <span class="link">Commandes</span>
                </a>
                </li>
                <li class="list">
                <a href="{{ url_for('livraisons_en_cours') }}" class="nav-link">
                    <i class="bx bx-bus-school icon"></i>
                    <span class="link">Livraisons</span>
                </a>
                </li>
            </ul>

            <div class="bottom-cotent">
                <li class="list">
                <a href="{{ url_for('gestion_vehicules') }}" class="nav-link">
                    <i class="bx bx-car icon"></i>
                    <span class="link">Véhicules</span>
                </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('prepare_livraison') }}" class="nav-link">
                        <i class="bx bx-package icon"></i>
                        <span class="link">Préparation Véhicules</span>
                    </a>
                    </li>
                <li class="list">
                <a href="{{ url_for('logout') }}" class="nav-link">
                    <i class="bx bx-log-out icon"></i>
                    <span class="link">Déconnexion</span>
                </a>
                </li>
            </div>
            </div>
        </div>
        </nav>

<h1>Livraisons en cours</h1>

<form method="post">
    {% for vehicule, colis_en_cours in colis_par_vehicule.items() %}
        <h2>{{ vehicule.marque }} {{ vehicule.modele }} - {{ vehicule.immatriculation }}</h2>
        <table border="1">
            <thead>
                <tr>
                    <th>Colis ID</th>
                    <th>Poids</th>
                    <th>Hauteur</th>
                    <th>Largeur</th>
                    <th>Longueur</th>
                    <th>Date Livraison</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                {% for colis, assoc in colis_en_cours %}
                    <tr>
                        <td>{{ colis.id }}</td>
                        <td>{{ colis.poids }}</td>
                        <td>{{ colis.hauteur }}</td>
                        <td>{{ colis.largeur }}</td>
                        <td>{{ colis.longueur }}</td>
                        <td>{{ colis.dateLivraison }}</td>
                        <td>
                            {% if colis.etat == "En Livraison" %}
                                <button type="submit" name="colis_livre" value="{{ colis.id }}">Livrée</button>
                            {% else %}
                                Livrée
                            {% endif %}
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    {% endfor %}
</form>

</body>
<script src="../static/js/script.js"></script> 
</html>
