<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style_signup.css">
  <title>La Poste - Connexion</title>
</head>
<body>

  <div class="container">
    <img src="../static/img/logo.png" alt="Logo" class="logo">
    <h2>Heureux de te revoir</h2>

    <!-- Affichage des messages d'erreur -->
    {% if error_messages %}
      <div class="error-messages">
        {% for message in error_messages %}
          <div class="alert alert-danger" style="color: red;">
            {{ message }}
          </div>
        {% endfor %}
      </div>
    {% endif %}

    <br>

    <form action="/login" method="post">
      <div class="form-group">
        <label for="email">Adresse e-mail :</label>
        <input type="email" id="email" name="email" class="input" required>
      </div>

      <div class="form-group">
        <label for="mot_de_passe">Mot de passe :</label>
        <input type="password" id="mot_de_passe" name="mot_de_passe" class="input" required>
      </div>

      <div class="form-group">
        <button type="submit" class="button">Se connecter</button> Pas encore de compte ?
        <a href="{{ url_for('signup') }}" class="link">Créer un compte</a>
      </div>
    </form>
  </div>

</body>
</html>
