<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style_signup.css">
  <title>La Poste - Connexion</title>
</head>
<body>

  <div class="container">
    <img src="../static/img/logo.png" alt="Logo" class="logo">
    <h2>Heureux de te revoir</h2>
    <form action="/signup" method="post">
      <div class="form-group">
        <label for="username">Nom d'utilisateur :</label>
        <input type="text" id="username" name="username" class="input" required>
      </div>

      <div class="form-group">
        <label for="password">Mot de passe :</label>
        <input type="password" id="password" name="password" class="input" required>
      </div>

      <div class="form-group">
        <button type="submit" class="button">Se connecter</button> Pas encore de compte ?
        <a href="signup.html" class="link">Créer un compte</a>
      </div>
    </form>
  </div>

</body>
</html>

