<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>| OverTrack | Mes colis</title>
   <link rel="icon" href="/static/img/OverTracking.png">
    <link rel="stylesheet" href="../static/css/style_index.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet/dist/leaflet.css" />
</head>

<body>
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">OverTracking</span>
        </div>
        <div class="sidebar">
            <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">OverTracking</span>
            </div>

            <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                <a href="{{ url_for('index') }}" class="nav-link">
                    <i class="bx bx-home-alt icon"></i>
                    <span class="link">Menu Principal</span>
                </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('dashboard') }}" class="nav-link">
                        <i class="bx bx-user icon"></i>
                        <span class="link">Mon compte</span>
                    </a>
                    </li>
                <li class="list">
                    {% if 'loggedin' in session and session['role'] in ['admin', 'expediteur'] %}
                <a href="{{ url_for('expediteur') }}" class="nav-link">
                    <i class="bx bx-send icon"></i>
                    <span class="link">Expédier</span>
                </a>
                {% endif %}
                </li>
                <li class="list">
                <a href="{{ url_for('mes_colis') }}" class="nav-link">
                    <i class="bx bx-clipboard icon"></i>
                    <span class="link">Mes Colis</span>
                </a>
                </li>
            </ul>

            <div class="bottom-cotent">
                {% if 'loggedin' in session and session['role'] in ['admin', 'transporteur'] %}
                <li class="list">
                    <a href="{{ url_for('livraisons_en_cours') }}" class="nav-link">
                        <i class="bx bx-mail-send icon"></i>
                        <span class="link">Livraisons</span>
                    </a>
                </li>
                <li class="list">
                <a href="{{ url_for('gestion_vehicules') }}" class="nav-link">
                    <i class="bx bx-car icon"></i>
                    <span class="link">Véhicules</span>
                </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('prepare_livraison') }}" class="nav-link">
                        <i class="bx bx-package icon"></i>
                        <span class="link">Préparation</span>
                    </a>
                    </li>
                    {% endif %}
                <li class="list">
                <a href="{{ url_for('logout') }}" class="nav-link">
                    <i class="bx bx-log-out icon"></i>
                    <span class="link">Déconnexion</span>
                </a>
                </li>
            </div>
            </div>
        </div>
        </nav>

    <h1>Mes Colis</h1>

    <!-- Ajoutez la carte ici -->
    <div id="map" style="height: 400px;"></div>

    <form method="post" action="{{ url_for('mes_colis') }}">
        {% if colis_destinataire %}
            {% if colis_destinataire|selectattr('etat', 'equalto', 'Livrée')|list %}
                <ul>
                    {% for colis in colis_destinataire %}
                        {% if colis.etat == 'Livrée' %}
                            <li>
                                Colis {{ colis.id }} - État : {{ colis.etat }}
                                <button type="submit" name="confirmer_reception_colis_id" value="{{ colis.id }}">Confirmer Réception</button>
                            </li>
                        {% endif %}
                    {% endfor %}
                </ul>
            {% endif %}
        {% endif %}
    </form>
    
    

    <h2>Liste des Colis :</h2>
    <ul>
        {% for colis in colis_destinataire %}
            <li>
                Colis {{ colis.id }} - État : {{ colis.etat }}
            </li>
        {% endfor %}
    </ul>

    <script src="https://unpkg.com/leaflet/dist/leaflet.js"></script>
    <script>
        var colisNonLivres = {{ colis_non_livres_coords|tojson }};
        if (colisNonLivres.length > 0) {
            var firstColis = colisNonLivres[0];
            var initialCenter = [parseFloat(firstColis.latitude), parseFloat(firstColis.longitude)];
    
            var map = L.map('map').setView(initialCenter, 10);
    
            L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
                attribution: '© OpenStreetMap contributors'
            }).addTo(map);
    
            colisNonLivres.forEach(function(colis) {
                var latitude = parseFloat(colis.latitude);
                var longitude = parseFloat(colis.longitude);
    
                if (!isNaN(latitude) && !isNaN(longitude)) {
                    L.marker([latitude, longitude]).addTo(map)
                        .bindPopup('Colis ' + colis.id);
                }
            });
        } else {
            // Aucun colis à afficher, vous pouvez définir un centre par défaut ou afficher un message.
            console.log("Aucun colis à afficher.");
        }
    </script>
    
</body>
<script src="../static/js/script.js"></script> 
</html>
