<!DOCTYPE html>
<html lang="fr-FR">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>SAE-302</title>
    <link rel="stylesheet" href="../static/css/style_signup.css">
    <style>
        .error {
            color: red;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="form-group">
            <img class="logo" src="../static/img/logo.png" alt="logo">
            <h2>Bienvenue</h2>
        </div>
        <form action="/signup" method="post">
            <div class="form-group">
                <label class="label" for="nom">Nom :</label>
                <input class="input" type="text" id="nom" name="nom" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="email">Email :</label>
                <input class="input" type="email" id="email" name="email" required>
                {% if email_exists %}
                    <span class="error">L'adresse e-mail existe déjà.</span>
                {% endif %}
                {% if not email_valid %}
                    <span class="error">Veuillez saisir une adresse e-mail valide.</span>
                {% endif %}
                <br>
            </div>
            <div class="form-group">
                <label class="label" for="mot_de_passe">Mot de passe :</label>
                <input class="input" type="password" id="mot_de_passe" name="mot_de_passe" required>
                {% if not password_valid %}
                    <span class="error">Le mot de passe doit contenir au moins 8 caractères, une majuscule et un caractère spécial.</span>
                {% endif %}
                <br>
            </div>
            <div class="form-group">
                <label class="label" for="confirmation_mot_de_passe">Confirmation du mot de passe :</label>
                <input class="input" type="password" id="confirmation_mot_de_passe" name="confirmation_mot_de_passe" required>
                {% if not password_match %}
                    <span class="error">Les mots de passe ne correspondent pas.</span>
                {% endif %}
                <br>
            </div>
            <!-- Nouveaux champs -->
            <div class="form-group">
                <label class="label" for="adresse">Adresse :</label>
                <input class="input" type="text" id="adresse" name="adresse" required><br>
            </div>
            <div class="form-group">
                <label class="label" for="codePostal">Code Postal :</label>
                <input class="input" type="text" id="codePostal" name="codePostal" pattern="[0-9]+" title="Veuillez saisir des chiffres uniquement"><br>
            </div>
            <div class="form-group">
                <label class="label" for="ville">Ville :</label>
                <input class="input" type="text" id="ville" name="ville"><br>
            </div>
            <div class="form-group">
                <label class="label" for="tel">Téléphone :</label>
                <input class="input" type="tel" id="tel" name="tel" pattern="[0-9]+" title="Veuillez saisir des chiffres uniquement"><br>
            </div>
            <!-- Fin des nouveaux champs -->
            <div class="form-group">
                <input class="button" type="submit" value="S'inscrire">
                <a href="{{ url_for('login') }}">Se connecter</a>
            </div>
        </form>
    </div>
</body>
</html>
