<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Accès non autorisé</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            text-align: center;
            padding: 100px;
        }

        h1 {
            color: #d9534f;
        }

        p {
            color: #333;
        }
    </style>
    <link rel="stylesheet" href="../static/css/index.css">

</head>
<body>
    <header>
        <div class="logo">Votre Logo</div>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">Accueil</a></li>
                <li><a href="#">Services</a></li>
                <li><a href="{{ url_for('mes_colis') }}">Suivi</a></li>
                <li><a href="{{ url_for('dashboard') }}">Mon Compte</a></li>
            </ul>
        </nav>
    </header>
    <h1>Accès non autorisé</h1>
    <p>Vous n'êtes pas autorisé à accéder à cette page !</p>
</body>
</html>
