<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   <title>| OverTrack | Véhicule </title>
   <link rel="icon" href="/static/img/OverTracking.png">
    <link rel="stylesheet" href="../static/css/style_vehicule.css" />
    <link href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css" rel="stylesheet"/>
</head>
<body>
    <!--Début navbar-->
    <nav>
        <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">OverTracking</span>
        </div>
        <div class="sidebar">
            <div class="logo">
            <i class="bx bx-menu menu-icon"></i>
            <span class="logo-name">OverTracking</span>
            </div>

            <div class="sidebar-content">
            <ul class="lists">
                <li class="list">
                <a href="{{ url_for('index') }}" class="nav-link">
                    <i class="bx bx-home-alt icon"></i>
                    <span class="link">Menu Principal</span>
                </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('dashboard') }}" class="nav-link">
                        <i class="bx bx-user icon"></i>
                        <span class="link">Mon compte</span>
                    </a>
                    </li>
                <li class="list">
                    {% if 'loggedin' in session and session['role'] in ['admin', 'expediteur'] %}
                <a href="{{ url_for('expediteur') }}" class="nav-link">
                    <i class="bx bx-send icon"></i>
                    <span class="link">Expédier</span>
                </a>
                {% endif %}
                </li>
                <li class="list">
                <a href="{{ url_for('mes_colis') }}" class="nav-link">
                    <i class="bx bx-clipboard icon"></i>
                    <span class="link">Mes Colis</span>
                </a>
                </li>
            </ul>

            <div class="bottom-cotent">
                {% if 'loggedin' in session and session['role'] in ['admin', 'transporteur'] %}
                <li class="list">
                    <a href="{{ url_for('livraisons_en_cours') }}" class="nav-link">
                        <i class="bx bx-mail-send icon"></i>
                        <span class="link">Livraisons</span>
                    </a>
                </li>
                <li class="list">
                <a href="{{ url_for('gestion_vehicules') }}" class="nav-link">
                    <i class="bx bx-car icon"></i>
                    <span class="link">Véhicules</span>
                </a>
                </li>
                <li class="list">
                    <a href="{{ url_for('prepare_livraison') }}" class="nav-link">
                        <i class="bx bx-package icon"></i>
                        <span class="link">Préparation</span>
                    </a>
                    </li>
                    {% endif %}
                <li class="list">
                <a href="{{ url_for('logout') }}" class="nav-link">
                    <i class="bx bx-log-out icon"></i>
                    <span class="link">Déconnexion</span>
                </a>
                </li>
            </div>
            </div>
        </div>
        </nav>
        <!--Fin navbar-->

        <section class="overlay"></section>

    {% if session.get('role') == 'admin' %}
        <h1>Gestion des Véhicules</h1>

    
        <!-- Formulaire pour ajouter un nouveau véhicule (visible seulement pour les admins) -->
        <form method="post" action="{{ url_for('gestion_vehicules') }}">
            <h2>Ajouter un Nouveau Véhicule :</h2>
            <label for="marque">Marque :</label>
            <input type="text" name="marque" required>

            <label for="modele">Modèle :</label>
            <input type="text" name="modele" required>

            <label for="annee_fabrication">Année de fabrication :</label>
            <input type="number" name="annee_fabrication" required>

            <label for="immatriculation">Immatriculation :</label>
            <input type="text" name="immatriculation" required>

            <label for="transporteur_id">Transporteur :</label>
            <select name="transporteur_id" required>
                {% for transporteur in transporteurs %}
                    <option value="{{ transporteur.id }}">{{ transporteur.nom }} {{ transporteur.prenom }}</option>
                {% endfor %}
            </select>

            <button type="submit">Ajouter Véhicule</button>
        </form>
    {% endif %}

    {% if session.get('role') == 'transporteur' %}
        <form method="post" action="{{ url_for('gestion_vehicules') }}">
            <h2>Ajouter un Nouveau Véhicule :</h2>
            <label for="marque">Marque :</label>
            <input type="text" name="marque" required>
        
            <label for="modele">Modèle :</label>
            <input type="text" name="modele" required>
        
            <label for="annee_fabrication">Année de fabrication :</label>
            <input type="number" name="annee_fabrication" required>
        
            <label for="immatriculation">Immatriculation :</label>
            <input type="text" name="immatriculation" required>
        
            <!-- Utilisez l'ID du transporteur connecté comme valeur par défaut -->
            <input type="hidden" name="transporteur_id" value="{{ session.get('id') }}">
        
            <button type="submit">Ajouter Véhicule</button>
        </form>
    {% endif %}

    <h2>Liste des Véhicules :</h2>
    <table>
        <tr>
            <th>Marque</th>
            <th>Modèle</th>
            <th>Année de Fabrication</th>
            <th>Immatriculation</th>
            <th>Coordonnées GPS</th>
            <th>En Livraison</th>
            {% if session.get('role') == 'admin' %}<th>Transporteur</th>{% endif %}
            <th>Action</th>
        </tr>
        {% if session.get('role') == 'admin' %}
            {% for vehicule, transporteur in vehicules %}
                <tr>
                    <td>{{ vehicule.marque }}</td>
                    <td>{{ vehicule.modele }}</td>
                    <td>{{ vehicule.annee_fabrication }}</td>
                    <td>{{ vehicule.immatriculation }}</td>
                    <td>{{ vehicule.latitude }}, {{ vehicule.longitude }}</td>
                    <td>{% if vehicule.en_livraison %}Oui{% else %}Non{% endif %}</td>
                    <td>{{ transporteur.nom }} {{ transporteur.prenom }}</td>
                    <td>
                        {% if not vehicule.en_livraison %}
                            <form method="post" action="{{ url_for('supprimer_vehicule', vehicule_id=vehicule.id) }}">
                                <button type="submit">Supprimer</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% else %}
            {% for vehicule in vehicules %}
                <tr>
                    <td>{{ vehicule.marque }}</td>
                    <td>{{ vehicule.modele }}</td>
                    <td>{{ vehicule.annee_fabrication }}</td>
                    <td>{{ vehicule.immatriculation }}</td>
                    <td>{{ vehicule.latitude }}, {{ vehicule.longitude }}</td>
                    <td>{% if vehicule.en_livraison %}Oui{% else %}Non{% endif %}</td>
                    <td>
                        {% if not vehicule.en_livraison %}
                            <form method="post" action="{{ url_for('supprimer_vehicule', vehicule_id=vehicule.id) }}">
                                <button type="submit">Supprimer</button>
                            </form>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        {% endif %}
    </table>


<script src="../static/js/script.js"></script>  

</html>
